results
results_1
FASTQs/
assets/
work
reference_files/
.nextflow*
example
Example
dev_data
singularity
results_bam
.bashrc
nohup.out
results_CMD_data/
results_CMD_testing_data/
results*
smmip_container.sif
singularity/smmip_container.def
.nextflow/history
example_data/resultsresults_example_data
results_example_data_controls
results_CMD_data_controls
.nextflow/history
