/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/circrna Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                      = null
    outdir                     = 'results'
    phenotype                  = null

    // reference genome options
    bwa = '/home/pierre/Documents/CMD_PLACEMENT/smMIP/smMIP-pipeline/reference_files/references/Homo_sapiens/GATK/GRCh38/Sequence/BWAmem2Index/'
    genome                     = 'GRCh38'
    //igenomes_base              = 's3://ngi-igenomes/igenomes/'
    //igenomes_ignore            = false
    //save_reference             = true

    //
    // smMIP-tools Options
    //

    bam_dir = null
    design_file = null
    annotated_design_file = null
    threads = 1

    // Options for processing BAM files
    filtered_reads = "n"      // output a sam file that contain the filtered reads. A sam file for the non-filtered reads will also be generated
    OVERLAP = 0.95            // Fine-tuning the overlap between reads and smMIPs
    MAPQ = 50                 // MAPQ cut-off

    // Parameters for Pileups process
    mnd = 1                   // minimum depth to consider in the pileup
    mmq = 50                  // minimum mapping quality to consider in the pileup
    mbq = 10                  // minimum base quality to consider in the pileup
    rank = "F"                // reporting all the possible alleles (A,C,T,G,-,+) if they observed. When 'T', only the allele with the most read support (other than the reference) at each genomic postion will be reported. This option can help to remove many errors from the data yet it comes with the risk of missing real mutations
    umi = "T"                 // options are 'T' or 'F'. If 'T', the UMI sequences that are associated with each allele will be reported. This information is required to estimate read-to-sample misassignment
    family_size = 0           // the minimum read-family size to consider in single strand consensus pileups
    consensus_cutoff = 0.7    // the percentage of reads that must have the same base to form a consensus

    // Parameters for CallingMutations process
    binomial = "sum"          // options are 'sum' or 'max'. Indicates whether allele-specific error rates will be defined by the sum of alternative bases divided by the sum of reference bases across all the samples used for error modeling, or by the observed maximum
    overlap_coverage = 10     // determine the minimum coverage at read1 and read2 to consider during P-value calculations
    maf = 0.001               // minor allele frequency cut-off. Being used to remove known SNPs from being included in the error models
    vaf = 0.05                // variant allele frequency cut-off. Being used to remove personal SNPs and reduce the presence of high VAF, authentic SNVs in the error models
    pval = 0.05               // P-value cut-off to call mutations. If set to '1' all the alleles with p-value<=0.05 prior to Bonferroni correction will be reported
    drop = 2                  // Being used to mark mutations that do not have at least d-fold higher VAF as compared with VAF of other samples in the cohort with non-reference alleles for the same mutation. Notes: 1. If multiple samples will be reported with the same mutation, VAF differences will be calculated based on the sample with the lowest VAF. 2. A single sample with <d fold lower VAF is allowed
}

    // MultiQC options
    //skip_fastqc                = false
    //multiqc_config             = null
    //multiqc_title              = null
    //multiqc_logo               = null
    //max_multiqc_email_size     = '25.MB'
    //multiqc_methods_description = null

    // Boilerplate options
    //publish_dir_mode           = 'copy'
    //email                      = null
    //email_on_fail              = null
    //plaintext_email            = false
    //help                       = false
    //version                    = false


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}